<h1> Editar Quarto </h1>

<%= render 'form' %>

<% if @room.present? && @room.errors.any? %>
  <div class="alert alert-danger">
    <h4>Ops! Houve alguns problemas com o cadastro da pousada:</h4>
    <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>